/* Omat tyylimääritykset */

body {
  background-color: #802a00;
  height: 100%;
  font-style: italic;
}

/* f7bf55 */
/* dddddd */

.col-sm-4 {
  background-color: #f7bf55;
}

hr {
  height: 55px;
  width: 88%;
}

.nav-button-line {
  border-bottom: 25px solid #f7bf55;
}

.box {
  height: 80%;
}

@media only screen and (max-width: 600px) {
  .box {
    background-image: none;
  }
}

@media only screen and (min-width: 600px) {
  .box {
    background-image: url("../bg6090p_JesseNabers-6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
